<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Ricky's Restaurant</display-name>
    <description>
        The menu and online ordering system for Ricky's Restaurant
    </description>

	<servlet>
		<servlet-name>OrderReceivedServlet</servlet-name>
		<servlet-class>com.virtualpairprogrammers.servlets.OrderReceivedServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OrderReceivedServlet</servlet-name>
		<url-pattern>/orderReceived.html</url-pattern>
	</servlet-mapping>
	
	<session-config>
		<session-timeout>120</session-timeout>
	</session-config>
	
	<security-role>
		<role-name>user</role-name>
	</security-role>
	
	<security-role>
		<role-name>administrator</role-name>
	</security-role>

	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>staff pages</web-resource-name>
			<url-pattern>/administrator/*</url-pattern>
		</web-resource-collection>
		
		<auth-constraint>
			<role-name>administrator</role-name>
		</auth-constraint>
	</security-constraint>
	
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login.html</form-login-page>
			<form-error-page>/failed-login.html</form-error-page>
		</form-login-config>
	</login-config>

</web-app> 
